---
import {
  getHomePageSettings,
  getHomePagePosts,
} from "@clients/sanity/bluespacecreative/config";
import Layout from "../Layouts/Layout.astro";

const { imageSliderAdvanced } = await getHomePageSettings();
console.log('imageSliderAdvanced',imageSliderAdvanced[0])
const {posts} = await getHomePagePosts();
// console.log("posts", posts);
---

<Layout>
  <section
    class="main-carousel"
    data-flickity={JSON.stringify({
      //   cellAlign: "left",
      contain: true,
      prevNextButtons: true,
      pageDots: true,
      autoPlay: 3000,
      infinite: true,
    })}
  >
    {
      imageSliderAdvanced?.map((t) => (
        <a href={t?.href} class="carousel-cell item" target="_blank">
          <picture>
            <source media="(max-width:  48em)" srcset={t?.mobileVersion?.src} />
            <img src={t?.desktopVersion?.src} alt={t?.caption} />
          </picture>
        </a>
      ))
    }
  </section>
  <section>
<pre>
    <code>
        {JSON.stringify(posts[0], null, 2)}
    </code>
</pre>
  </section>
</Layout>
<style>
    .item{
        display:block;
        img,
        picture{
            display: block;
            width: 100%;
        }
    }
</style>
